.footer {
    width: 100%;
    margin-top: auto;
    height: 200px;
    background: #F5F1F3;
    justify-content: center;
    align-items: center;
  }
  
  .socialMedia svg {
    color: black;
    margin: 20px;
    font-size: 60px;
    cursor: pointer;
  }
  
  .footer p {
    color: black;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }